extends layout

block content
  .panel-group.px-3.py-3
  each day in week
    .panel.panel-default
      h3.panel-heading
        a(data-toggle="collapse" href="#day"+day.id role="button" aria-expanded="false" aria-controls="day"+day.id)= day.name
      .panel-body.collapse(id="day"+day.id)
        .card
        each recipe in day.recipes
          h4.card-title= recipe.name
          ul.card-text.list-group
          each ingredient in recipe.ingredients
            li.list-group-item=ingredient
