extends layout

block content
  form(method='POST' action='')
    div(class='form-group input-group')
      div.input-group-prepend
        span.input-group-text
          i(class='fas fa-user')
      input#username.form-control(type='text', placeholder='Username',
        name='username')
    div(class='form-group input-group')
      div.input-group-prepend
        span.input-group-text
          i(class='fas fa-unlock')
      input#password.form-control(type='password', placeholder='Password',
        name='password')
    button(type='button' class='btn btn-outline-primary') Submit
