extends layout

block content
  a(style={color: 'red', backgroud: 'green'})
  
  h1= title
  
  div.general
    h3 General
    p Name: #{user_info.name}
    p Email: john.doe@gmail.com
    p Current meal plan
  hr
  
  div.nutritional_preferences
    h3 Nutritional Preferences
    p Allergens
    p Diet Profile
    p Calorie count: #{user_info.calories}
  hr
  
  div.history
    button(class="collapsible") History
    h3 History
    p Previous meal plans
    p Statistics
  hr

//- Notes
  • The user should not be able to see their user id
