extends layout

block content
  br
  br
  h1= title
  
  .container
    each category in user
      .card.border-secondary.my-1
        h5.card-header.d-flex
          a.mr-auto.text-secondary(data-toggle="collapse" href="#category"+category.id)= category.name
        .card-text.collapse(id="category"+category.id)
          ul.list-group
          each item in category.items
            li.text-secondary.list-group-item.d-flex
              .mr-auto= item.name
              .text-nowrap= item.value
