extends layout

block content
  div
    h3 General
    p Name: #{user.username}
    p Email: john.doe@gmail.com
    p Current meal plan
  hr
  
  div 
    h3 Nutritional Preferences
    p Allergens
    p Diet Profile
    p Calorie count: #{user.password}
  hr
  
  div
    h3 History
    p Previous meal plans
    p Statistics
  hr

//- Notes
  • The user should not be able to see their user id
