extends layout

block content
  div#recipe-carousel.carousel.slide(data-ride='carousel', data-interval='false')
    div.carousel-inner
      div.carousel-item.active
        div.input-group.mb-3
          input#ingredient-input.form-control(type='text', placeholder='Input ingredients', aria-label='Input ingredients', aria-describedby="basic-addon2")
          div.input-group-append
            button#add-ingredient.btn.btn-outline-secondary(type='button') Add Ingreident

        div#ingredients.container
          ul#ingredient-list.list-group

        div.text-center.pt-2
          a.btn.btn-outline-primary(href='#recipe-carousel', role='button', data-slide='next') Input Detailed Instructions

      div.carousel-item
        div.form-group
          textarea.form-control(rows="5")
        div.text-center.pt-3
          button.btn.btn-outline-primary(type='submit', name='submit-recipe') Submit Recipe
          a.btn.btn-outline-primary(href='#recipe-carousel', role='button', data-slide='prev') Back




