body {
  padding-top: 65px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #EBEBEB
}

a {
  color: #00B7FF;
}

h1 {
    display: block;
}

.login-menu {
  position: static;
  display: block;
  width: 100%;
}

.input-group-icon {
  width: 46px;
  display: block;
  text-align: center;
}

.nutr-options-append-primary {
  width: 55px;
  display: block;
  text-align: center;
}

.nutr-options-additional-prepend-primary {
  width: 98px;
  display: block;
  text-align: center;
}

.nutr-options-additional-append-primary {
  width: 56px;
  display: block;
  text-align: center;
}

.header_bar {
  padding: 5px;
  text-align: left;
  color: white;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  display: block;
}

.menu_bar {
    width: 100%;
    height: auto;
    display: block;
}

#header_logo {
  max-width: 100%;
  height: auto;
}

#main_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main_menu li {
    display: block;
    float: left;
}

#main_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main_menu li a:hover {
    color: white;
}

.dropdown {
    display: none;
}

.select-allergens {
  width: 100%;
}

/*Experimental stuff for the collapsing menus*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#add-nutr-reqs {
  display: none;
}

.text-highlight-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline:0;
}

.flexbox {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.fav-btn {
  display:flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}


@keyframes favme-anime {
  0%   {
    opacity: 1;
    font-size: ms(0);
    -webkit-text-stroke-color: transparent;
  }
  25%  {
    opacity:.6;
    color: #FFF;
    font-size: ms(-2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DC3232;
  }
  75%  {
    opacity:.6;
    color: #FFF;
    font-size: ms(3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DC3232;
  }
  100% {
    opacity: 1;
    font-size: ms(2);
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes favme-hover {
  from {
    font-size: ms(3);
  }
  80% {
    font-size: ms(2);
  }
}

.favme {
  display:block;
  font-size: ms(2);
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  transition: all .2s ease;
  color: #CBCDCE;
  margin: 0;

  &.active {
    color: #DC3232;
  }
  &:hover {
    animation: favme-hover .3s infinite alternate;
  }
  &.is_animating {
    animation: favme-anime .3s;
  }
}
