body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-menu {
  position: static;
  display: block;
  width: 100%;
}

.input-group-icon {
  width: 46px;
  display: block;
  text-align: center;
}

.select-allergens {
  width: 100%;
}
